
   INFO  Preparing database.  

  Creating migration table  63.58ms DONE

   INFO  Running migrations.  

  0001_01_01_000000_create_users_table   
  Γçé create table "users" ("id" integer primary key autoincrement not null, "name" varchar not null, "email" varchar not null, "email_verified_at" datetime, "password" varchar not null, "remember_token" varchar, "created_at" datetime, "updated_at" datetime)  
  Γçé create unique index "users_email_unique" on "users" ("email")  
  Γçé create table "password_reset_tokens" ("email" varchar not null, "token" varchar not null, "created_at" datetime, primary key ("email"))  
  Γçé create table "sessions" ("id" varchar not null, "user_id" integer, "ip_address" varchar, "user_agent" text, "payload" text not null, "last_activity" integer not null, primary key ("id"))  
  Γçé create index "sessions_user_id_index" on "sessions" ("user_id")  
  Γçé create index "sessions_last_activity_index" on "sessions" ("last_activity")  
  0001_01_01_000001_create_cache_table   
  Γçé create table "cache" ("key" varchar not null, "value" text not null, "expiration" integer not null, primary key ("key"))  
  Γçé create table "cache_locks" ("key" varchar not null, "owner" varchar not null, "expiration" integer not null, primary key ("key"))  
  0001_01_01_000002_create_jobs_table   
  Γçé create table "jobs" ("id" integer primary key autoincrement not null, "queue" varchar not null, "payload" text not null, "attempts" integer not null, "reserved_at" integer, "available_at" integer not null, "created_at" integer not null)  
  Γçé create index "jobs_queue_index" on "jobs" ("queue")  
  Γçé create table "job_batches" ("id" varchar not null, "name" varchar not null, "total_jobs" integer not null, "pending_jobs" integer not null, "failed_jobs" integer not null, "failed_job_ids" text not null, "options" text, "cancelled_at" integer, "created_at" integer not null, "finished_at" integer, primary key ("id"))  
  Γçé create table "failed_jobs" ("id" integer primary key autoincrement not null, "uuid" varchar not null, "connection" text not null, "queue" text not null, "payload" text not null, "exception" text not null, "failed_at" datetime not null default CURRENT_TIMESTAMP)  
  Γçé create unique index "failed_jobs_uuid_unique" on "failed_jobs" ("uuid")  
  2026_01_07_102619_create_leads_table   
  Γçé create table "leads" ("id" integer primary key autoincrement not null, "name" varchar not null, "email" varchar, "mobile" varchar not null, "company" varchar, "city" varchar, "status" varchar not null default 'New', "lead_score" integer not null default '0', "win_probability" float not null default '0', "enrichment_data" text, "sentiment_label" varchar, "assigned_to" integer, "created_at" datetime, "updated_at" datetime, foreign key("assigned_to") references "users"("id"))  
  Γçé create unique index "leads_mobile_unique" on "leads" ("mobile")  
  2026_01_08_090858_add_details_to_leads_table   
  Γçé select name, type, not "notnull" as "nullable", dflt_value as "default", pk as "primary", hidden as "extra" from pragma_table_xinfo('leads', 'main') order by cid asc  
  Γçé select "sql" from "main".sqlite_master where type = 'table' and name = 'leads'  
  Γçé select 'primary' as name, group_concat(col) as columns, 1 as "unique", 1 as "primary" from (select name as col from pragma_table_xinfo('leads', 'main') where pk > 0 order by pk, cid) group by name union select name, group_concat(col) as columns, "unique", origin = 'pk' as "primary" from (select il.*, ii.name as col from pragma_index_list('leads', 'main') il, pragma_index_info(il.name, 'main') ii order by il.seq, ii.seqno) group by name, "unique", "primary"  
  Γçé select group_concat("from") as columns, 'main' as foreign_schema, "table" as foreign_table, group_concat("to") as foreign_columns, on_update, on_delete from (select * from pragma_foreign_key_list('leads', 'main') order by id desc, seq) group by id, "table", on_update, on_delete  
  Γçé pragma foreign_keys  
  Γçé alter table "leads" add column "location" varchar  
  Γçé alter table "leads" add column "demat_status" varchar  
  Γçé alter table "leads" add column "source" varchar  
  Γçé alter table "leads" add column "remarks" text  
  Γçé alter table "leads" add column "assigned_by" integer  
  Γçé create table "__temp__leads" ("location" varchar, "demat_status" varchar, "source" varchar, "remarks" text, "assigned_by" integer, foreign key("assigned_by") references "users"("id"))  
  Γçé insert into "__temp__leads" ("location", "demat_status", "source", "remarks", "assigned_by") select "location", "demat_status", "source", "remarks", "assigned_by" from "leads"  
  Γçé drop table "leads"  
  Γçé alter table "__temp__leads" rename to "leads"  
  Γçé alter table "leads" add column "follow_up_date" datetime  
  Γçé alter table "leads" add column "trial_start_date" datetime  
  Γçé alter table "leads" add column "trial_end_date" datetime  
  2026_01_08_090858_add_roles_to_users_table   
  Γçé alter table "users" add column "role" varchar not null default 'Employee'  
  Γçé alter table "users" add column "is_active" tinyint(1) not null default '1'  
  2026_01_08_090858_create_lead_activities_table   
  Γçé create table "lead_activities" ("id" integer primary key autoincrement not null, "lead_id" integer not null, "user_id" integer not null, "activity_type" varchar not null, "notes" text, "created_at" datetime, "updated_at" datetime, foreign key("lead_id") references "leads"("id") on delete cascade, foreign key("user_id") references "users"("id") on delete cascade)  
  2026_01_08_090858_create_payments_table   
  Γçé create table "payments" ("id" integer primary key autoincrement not null, "lead_id" integer not null, "amount" numeric not null, "payment_date" date not null, "payment_mode" varchar not null, "transaction_id" varchar, "subscription_plan" varchar, "status" varchar not null default 'Pending', "verified_by" integer, "commission_ba" numeric not null default '0', "commission_sba" numeric not null default '0', "remarks" text, "created_at" datetime, "updated_at" datetime, foreign key("lead_id") references "leads"("id") on delete cascade, foreign key("verified_by") references "users"("id"))  
  2026_01_09_151743_add_client_dates_to_leads_table   
  Γçé alter table "leads" add column "service_start_date" date  
  Γçé alter table "leads" add column "renewal_date" date  
  2026_01_10_092137_add_security_fields_to_users_table   
  Γçé alter table "users" add column "last_login_at" datetime  
  Γçé alter table "users" add column "last_login_ip" varchar  
  2026_01_10_094503_create_user_targets_table   
  Γçé create table "user_targets" ("id" integer primary key autoincrement not null, "user_id" integer not null, "amount" numeric not null, "month_year" varchar not null, "created_at" datetime, "updated_at" datetime, foreign key("user_id") references "users"("id") on delete cascade)  
  Γçé create unique index "user_targets_user_id_month_year_unique" on "user_targets" ("user_id", "month_year")  
  2026_01_10_095255_create_lead_messages_table   
  Γçé create table "lead_messages" ("id" integer primary key autoincrement not null, "lead_id" integer not null, "user_id" integer not null, "message" text not null, "created_at" datetime, "updated_at" datetime, foreign key("lead_id") references "leads"("id") on delete cascade, foreign key("user_id") references "users"("id") on delete cascade)  
  2026_01_10_100121_add_commission_rate_to_users_table   
  Γçé alter table "users" add column "commission_rate" numeric not null default '10'  
  2026_01_10_102943_create_attendances_table   
  Γçé create table "attendances" ("id" integer primary key autoincrement not null, "user_id" integer not null, "date" date not null, "login_at" datetime, "logout_at" datetime, "total_minutes" integer not null default '0', "ip_address" varchar, "created_at" datetime, "updated_at" datetime, foreign key("user_id") references "users"("id") on delete cascade)  
  Γçé create unique index "attendances_user_id_date_unique" on "attendances" ("user_id", "date")  
  2026_01_10_103324_add_is_escalated_to_leads_table   
  Γçé alter table "leads" add column "is_escalated" tinyint(1) not null default '0'  
  Γçé alter table "leads" add column "escalated_at" datetime  
  2026_01_10_120000_add_commission_to_payments_table   
  Γçé alter table "payments" add column "commission_amount" numeric  
  2026_01_10_123000_add_parent_id_to_users_table   
  Γçé select name, type, not "notnull" as "nullable", dflt_value as "default", pk as "primary", hidden as "extra" from pragma_table_xinfo('users', 'main') order by cid asc  
  Γçé select "sql" from "main".sqlite_master where type = 'table' and name = 'users'  
  Γçé select 'primary' as name, group_concat(col) as columns, 1 as "unique", 1 as "primary" from (select name as col from pragma_table_xinfo('users', 'main') where pk > 0 order by pk, cid) group by name union select name, group_concat(col) as columns, "unique", origin = 'pk' as "primary" from (select il.*, ii.name as col from pragma_index_list('users', 'main') il, pragma_index_info(il.name, 'main') ii order by il.seq, ii.seqno) group by name, "unique", "primary"  
  Γçé select group_concat("from") as columns, 'main' as foreign_schema, "table" as foreign_table, group_concat("to") as foreign_columns, on_update, on_delete from (select * from pragma_foreign_key_list('users', 'main') order by id desc, seq) group by id, "table", on_update, on_delete  
  Γçé pragma foreign_keys  
  Γçé alter table "users" add column "parent_id" integer  
  Γçé create table "__temp__users" ("parent_id" integer, foreign key("parent_id") references "users"("id") on delete set null)  
  Γçé insert into "__temp__users" ("parent_id") select "parent_id" from "users"  
  Γçé drop table "users"  
  Γçé alter table "__temp__users" rename to "users"  
  2026_01_12_061851_add_advisory_fields_to_leads_table   
  Γçé alter table "leads" add column "is_kyc_completed" tinyint(1) not null default '0'  
  Γçé alter table "leads" add column "is_rpm_completed" tinyint(1) not null default '0'  
  Γçé alter table "leads" add column "pan_number" varchar  
  Γçé alter table "leads" add column "aadhaar_number" varchar  
  Γçé alter table "leads" add column "interest_segments" text  
  Γçé alter table "leads" add column "is_trading" tinyint(1) not null default '0'  
  Γçé alter table "leads" add column "expected_payment" numeric not null default '0'  
  2026_01_12_063834_create_advisory_calls_table   
  Γçé create table "advisory_calls" ("id" integer primary key autoincrement not null, "segment" varchar not null, "call_text" text not null, "call_date" date not null, "call_time" time not null, "user_id" integer not null, "created_at" datetime, "updated_at" datetime, foreign key("user_id") references "users"("id") on delete cascade)  
  2026_01_12_071437_create_employee_messages_table   
  Γçé create table "employee_messages" ("id" integer primary key autoincrement not null, "sender_id" integer not null, "receiver_id" integer not null, "channel_type" varchar not null default 'direct', "channel_name" varchar, "message" text not null, "is_read" tinyint(1) not null default '0', "read_at" datetime, "created_at" datetime, "updated_at" datetime, foreign key("sender_id") references "users"("id") on delete cascade, foreign key("receiver_id") references "users"("id") on delete cascade)  
  Γçé create index "employee_messages_sender_id_receiver_id_index" on "employee_messages" ("sender_id", "receiver_id")  
  Γçé create index "employee_messages_receiver_id_is_read_index" on "employee_messages" ("receiver_id", "is_read")  
  Γçé create index "employee_messages_channel_name_index" on "employee_messages" ("channel_name")  
  2026_01_12_071438_create_internal_mails_table   
  Γçé create table "internal_mails" ("id" integer primary key autoincrement not null, "sender_id" integer not null, "subject" varchar not null, "body" text not null, "category" varchar not null, "recipient_ids" text not null, "attachment_path" varchar, "created_at" datetime, "updated_at" datetime, foreign key("sender_id") references "users"("id") on delete cascade)  
  Γçé create index "internal_mails_sender_id_index" on "internal_mails" ("sender_id")  
  Γçé create index "internal_mails_category_index" on "internal_mails" ("category")  
  2026_01_12_071438_create_mail_read_receipts_table   
  Γçé create table "mail_read_receipts" ("id" integer primary key autoincrement not null, "mail_id" integer not null, "user_id" integer not null, "read_at" datetime not null, "created_at" datetime, "updated_at" datetime, foreign key("mail_id") references "internal_mails"("id") on delete cascade, foreign key("user_id") references "users"("id") on delete cascade)  
  Γçé create unique index "mail_read_receipts_mail_id_user_id_unique" on "mail_read_receipts" ("mail_id", "user_id")  
  Γçé create index "mail_read_receipts_mail_id_index" on "mail_read_receipts" ("mail_id")  
  Γçé create index "mail_read_receipts_user_id_index" on "mail_read_receipts" ("user_id")  
  2026_01_12_071942_add_status_history_to_leads_table   
  Γçé alter table "leads" add column "status_history" text  
  Γçé alter table "leads" add column "status_change_reason" text  
  Γçé alter table "leads" add column "npc_attempt_count" integer not null default '0'  
  Γçé alter table "leads" add column "last_npc_attempt" datetime  
  2026_01_12_072159_add_status_history_to_leads_table   

  2026_01_13_062702_create_incentives_table   
  Γçé create table "incentives" ("id" integer primary key autoincrement not null, "created_at" datetime, "updated_at" datetime)  
  2026_01_13_064647_add_entered_by_to_payments_table   
  Γçé select name, type, not "notnull" as "nullable", dflt_value as "default", pk as "primary", hidden as "extra" from pragma_table_xinfo('payments', 'main') order by cid asc  
  Γçé select "sql" from "main".sqlite_master where type = 'table' and name = 'payments'  
  Γçé select 'primary' as name, group_concat(col) as columns, 1 as "unique", 1 as "primary" from (select name as col from pragma_table_xinfo('payments', 'main') where pk > 0 order by pk, cid) group by name union select name, group_concat(col) as columns, "unique", origin = 'pk' as "primary" from (select il.*, ii.name as col from pragma_index_list('payments', 'main') il, pragma_index_info(il.name, 'main') ii order by il.seq, ii.seqno) group by name, "unique", "primary"  
  Γçé select group_concat("from") as columns, 'main' as foreign_schema, "table" as foreign_table, group_concat("to") as foreign_columns, on_update, on_delete from (select * from pragma_foreign_key_list('payments', 'main') order by id desc, seq) group by id, "table", on_update, on_delete  
  Γçé pragma foreign_keys  
  Γçé alter table "payments" add column "entered_by" integer  
  Γçé create table "__temp__payments" ("entered_by" integer, foreign key("entered_by") references "users"("id"))  
  Γçé insert into "__temp__payments" ("entered_by") select "entered_by" from "payments"  
  Γçé drop table "payments"  
  Γçé alter table "__temp__payments" rename to "payments"  
  2026_01_13_160500_create_system_activities_table   
  Γçé create table "system_activities" ("id" integer primary key autoincrement not null, "user_id" integer, "activity_type" varchar not null, "description" text, "ip_address" varchar, "user_agent" varchar, "created_at" datetime, "updated_at" datetime, foreign key("user_id") references "users"("id") on delete set null)  
  2026_01_14_073423_create_system_announcements_table   
  Γçé create table "system_announcements" ("id" integer primary key autoincrement not null, "title" varchar not null, "body" varchar not null, "type" varchar not null default 'info', "expires_at" datetime, "created_at" datetime, "updated_at" datetime)  
  2026_01_14_111342_add_smart_tracking_to_attendances_table   
  Γçé alter table "attendances" add column "last_activity_at" datetime  
  Γçé alter table "attendances" add column "effective_hours" numeric not null default '0'  
  Γçé alter table "attendances" add column "idle_duration" integer not null default '0'  
  Γçé alter table "attendances" add column "total_dials" integer not null default '0'  
  Γçé alter table "attendances" add column "productivity_score" numeric not null default '0'  
  Γçé alter table "attendances" add column "status" varchar not null default 'Active'  
  2026_01_15_150430_add_automation_and_notes_to_leads_table   
  Γçé alter table "leads" add column "follow_up_notes" text  
  Γçé alter table "leads" add column "conversion_notes" text  
  Γçé alter table "leads" add column "service_expired_at" datetime  
  2026_01_15_153651_add_enriched_contact_and_kyc_to_leads_table   
  Γçé alter table "leads" add column "address" text  
  Γçé alter table "leads" add column "demat_id" varchar  
  Γçé alter table "leads" add column "investment_cap" varchar  
  Γçé alter table "leads" add column "experience_level" varchar  
  2026_01_17_121158_add_lead_context_to_employee_messages_table   
  Γçé select name, type, not "notnull" as "nullable", dflt_value as "default", pk as "primary", hidden as "extra" from pragma_table_xinfo('employee_messages', 'main') order by cid asc  
  Γçé select "sql" from "main".sqlite_master where type = 'table' and name = 'employee_messages'  
  Γçé select 'primary' as name, group_concat(col) as columns, 1 as "unique", 1 as "primary" from (select name as col from pragma_table_xinfo('employee_messages', 'main') where pk > 0 order by pk, cid) group by name union select name, group_concat(col) as columns, "unique", origin = 'pk' as "primary" from (select il.*, ii.name as col from pragma_index_list('employee_messages', 'main') il, pragma_index_info(il.name, 'main') ii order by il.seq, ii.seqno) group by name, "unique", "primary"  
  Γçé select group_concat("from") as columns, 'main' as foreign_schema, "table" as foreign_table, group_concat("to") as foreign_columns, on_update, on_delete from (select * from pragma_foreign_key_list('employee_messages', 'main') order by id desc, seq) group by id, "table", on_update, on_delete  
  Γçé pragma foreign_keys  
  Γçé alter table "employee_messages" add column "lead_id" integer  
  Γçé create table "__temp__employee_messages" ("lead_id" integer, foreign key("lead_id") references "leads"("id") on delete cascade)  
  Γçé insert into "__temp__employee_messages" ("lead_id") select "lead_id" from "employee_messages"  
  Γçé drop table "employee_messages"  
  Γçé alter table "__temp__employee_messages" rename to "employee_messages"  
  Γçé create index "employee_messages_lead_id_index" on "employee_messages" ("lead_id")  
  2026_01_17_123249_add_internal_notes_to_leads_table   
  Γçé alter table "leads" add column "internal_notes" text  
  2026_01_19_121331_add_details_to_attendance_table   
  Γçé alter table "attendances" add column "attendance_type" varchar not null default 'Present'  
  Γçé alter table "attendances" add column "admin_remarks" text  
  2026_01_20_125033_add_outcome_to_advisory_calls_table   
  Γçé alter table "advisory_calls" add column "outcome" varchar  
  2026_01_20_143112_add_npc_tracking_to_leads_table   
  Γçé alter table "leads" add column "npc_count" integer not null default '0'  
  Γçé alter table "leads" add column "last_npc_at" datetime  

